
.blog{  
 width: 100%;
  background: var(--primary-color);
  height: auto;
  padding-top:12% ;
}
 
    
#blog{
    max-width: 950px;
    margin: auto;
    border-radius: 30px;
    display: grid;
    row-gap: 3rem;
    background-color: var(--secondary-color);
    padding-bottom: 5rem;
    border: 10px solid var( --third-color);
  }
                           /* ---input--- */
  .search{
    margin: auto;
    display: grid;
    place-items: center;
  }

  .input {
    
    border: 1ex solid none;
    border-top-width: 1.7em ;
    margin: 0;
    padding: 0;
    color: #000000;
    outline: 7px solid var(--white-color);
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width: 400px;
    font-weight: bold;

   }
   
   .input:hover {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
   }
   
   .input:focus {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
   }



.text{
  display: grid;
  place-items:center;
  margin-top: 3rem;
  padding-left: 1rem;
}
.text h2{
  margin: 2rem;
  font-size: 3vh ;
  color: #000000;
}
.h1{
    margin-bottom: 2rem;
    font-size: 3vh ;
    color: #000000;
}

.text p{
  line-height: 35px;
  max-width:600px;
  color: rgb(255, 255, 255);
  font-size: 2.5vh;
  text-indent: 20px;
}


.container_card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 80%;
  height: auto;
  background: var(--gradient-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
}


.img{

  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}


.blog_title{
   color: var(--third-color); 
   margin: 1rem;
  font-size: 2vh;
}


.blog_time{
  font-size: 1.3vh;
  color: var(--white-color);
}

.blog_option {
  font-size: 1.8vh;
  padding: 1rem 0;

}

.blog_option span {
  font-weight: 600;
  color: var(--third-color);
}
.blog_option a {
  text-decoration: none;
}






.btn{

    font-size: 0.7rem;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: var(--secondary-color);
    box-shadow: 3px 3px #fff;
    cursor: pointer;
    margin: 0px 0px 0px 10px ;
    float: right;
  }
  
  .btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }




@media only screen and (max-width:1280px ) and (min-width:768px)  and (orientation : landscape) {
  .blog{  
     padding-top: 10%;
   }
 
}
@media (min-width: 481px) and (max-width: 767px) {
  .blog{  
    padding-top: 13%;
  }
  


}
@media (min-width: 320px) and (max-width: 480px) {
  .blog{
    padding-top: 32%;
  }
  .search{
    margin-top: 0rem;
  }

  .text h1{
    font-size: 3vh ;
  }
  .text h2{
    font-size: 2vh;
    padding-left: 2rem;
  }
  .text p{
    line-height: 35px;
    max-width:600px;
    font-size: 3vh;
  }

  
}


@media only screen and (max-width:1280px ) and (min-width:768px)  and (orientation : landscape) {

       
.card{
width: 40rem;
border-radius: 1.5rem;
padding: 1.5rem;
}
}
@media (min-width: 481px) and (max-width: 767px) {
.card{
  width: 28rem;
  border-radius: 1.5rem;
  padding: 1.5rem;

}
}
@media (min-width: 320px) and (max-width: 480px) {
.card{
  width: 95%;

}


.btn{

}

    
.text h2{
  font-size: 2.5vh;
  padding-left: 2rem;
}

}
    