
  .Container{
    background: var(--primary-color);
  }
  
 
  
  
  #Details{
    max-width: 850px;
    margin: auto;
    display: grid;
    background-color: var(--secondary-color);
    padding-bottom: 5rem;
  
  }
  .container_detail{
    display: grid;
    place-items: center;
    margin-top: 2rem;
    padding-top: 15%;
  }
  .header{
    margin-bottom: 3rem;

  }
  .image{
     width: 100%;
     height: 80%;
  }
  
  
  .container_detail h1 {
    color: var(--dark-color);

  }
  .h2{
    color: var(--dark-color);
    font-size: 2.5vh;
    text-align: start;
    margin: 20px;
  }
  .container_detail h5{
    color: var(--dark-color);
    font-size: 2.5vh;
    margin: 20px;

  }
  .container_detail p{
    max-width:700px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 30px;
  
  }
  
 
 
 



  
  .btn{

    font-size: 2vh;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: var(--secondary-color);
    box-shadow: 3px 3px #fff;
    cursor: pointer;
  }
  
  .btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
 
 
  
  
  @media only screen and (max-width:780px) {
  
    .image{
     max-width: 600px;
     height: 15rem;
     
  }
 
  
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
  
    .Container{
      padding-top: 7%;
    }
    #Details{
      padding-bottom: 1rem;
    }
    
  .container_detail h1 {
     font-size: 22px;
  }
 
  .Container p {
         padding: 1rem;
  }
  .container_detail h1 {
    color: #000000;
    text-align: center;
    line-height: 36px;
    font-size: 3vh;
  }

  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  