
.footer{
    padding-block: 50px;
    position: absolute;
    width: 100%;
    background: var(--secondary-color);
  }
  @keyframes floater {
    0%, 100% {
      transform: translate(0px,20px);
    }
    25% {
      transform: translate(0px, 5px);
    }

  }
  .game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    animation: floater 8s linear alternate infinite;

  }
.game h6 {
    position: absolute;
    color: var(--third-color);
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #7e1313, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
    animation: blink 2s steps(4, start) infinite;
  }
  @-moz-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-o-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  
 
 
  .footer_container{
   width: 80%;
    margin: auto;
    padding: 20px 10px;

  background: var(--secondary-color);  
  }
  .footer_top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    row-gap:10px;
  }
  .footer_title{
    font-size:15px;
    color: var(--white-color);
    margin-bottom: 20px;
    text-decoration: underline;


  }
  .services_item{
    list-style: none;
    color:#b9b9b9 ;
    font-size: 20px;

  }
  .contact_item{
    list-style: none;
    color:#b9b9b9 ;
    font-size: 22px;
    border-bottom:3px solid var(--white-color);

  }
  .contact_item:hover{
     background-color: var(--dark-color);
     transition: 0.6s;
  }
 
  
  

  .footer_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
  }
  .footer_list .a{
    text-decoration: none;
  }
  .footer_list .p {
    color: #a7a5a5;
    max-width:210px ;
    font-size: 20px;
  }
  .footer_list_item{
    list-style: none;
    color:#a7a5a5;
  }
  .footer_list_item:hover{
    background-color: rgba(0,0,0,0.2);
    color: var(--third-color);
    width: 90px;

  }
  .footer_divider{
    margin-block: 25px;
    border: none;
    border-top: 3px solid var(--white-color);
  }
  .footer_bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  .footer_bottom .footer_list{
    flex-direction: row;
  }
.footer_bottom .li{
    text-decoration: none;
    list-style: none;
}
  .footer_icon{
    text-decoration: none;
  }
  .copyright{
    color: var(--white-color);

  }
  .footer_icon_item{
    color: var(--dark-color);
    width: 20px;
    height: 20px;

  }
  .footer_icon_item:hover{
    color: wheat;
  }

  .footer_list_item:hover .arrow{
    display: block;
    position: absolute;
    left: 120px;
  }
   
  .footer_list_item .arrow{
    display: none;
   }


  
        
        @media screen and (min-width: 320px)  and (max-width:480px) {
          .footer_container{
            width: 100%;
            margin: auto;
          }
        
          .game h6{
            font-size: 20px;
          }
      
          .footer_list_item:hover .arrow{
            display: block;
            position: absolute;
            left: 100px;
          }
          .footer_title{
            margin-top: 2rem;
            display: grid;
            place-items: center;
          }
          .services_item{
            display: grid;
            place-items: center;
          }
          .footer_list > .p {
            display: contents;
          }
          .footer_list .a {
            display: grid;
            place-items: center;
          }
        }