
@import url(./home.css);
@import url(./nav.css);

*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
   --primary-color:#D9E4EA;
   --secondary-color:#354A54;
   --third-color:#F2962F;
   --dark-color:black;
   --white-color:white;

}

h1,h2,h3,h4,h5,h6,.restart{
  font-family: 'Press Start 2P', cursive;
}
p,ul{
    font-family: 'Josefin Sans', sans-serif;
/*  */
}
Link{
  font-family: 'Monoton', cursive;
}
a,button{
  font-family:monospace;
}
.mir{
  font-family: 'Josefin Sans', sans-serif;


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
width: 0.6rem;
}
::-webkit-scrollbar-track{
background: var(--third-color);
border-radius: 30px;
}
::-webkit-scrollbar-thumb{
background-color: var(--secondary-color);
border-radius: 30px;
border: 2px dashed wheat;

}
::-webkit-scrollbar-thumb:hover{
background-color: rgb(0, 0, 0);
}

