@import url(./home.css);
@import url(./nav.css);

*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --primary-color:#D9E4EA;
   --secondary-color:#354A54;
   --third-color:#F2962F;
   --dark-color:black;
   --white-color:white;
  --gradient-color:linear-gradient(to bottom, #D9E4EA, #354a54, black);
  --gradient2-color:linear-gradient(to top, #f2972f73, #354a5479, black);

}

h1,h2,h3,h4,h5,h6,.restart{
  font-family: 'Press Start 2P', cursive;
}
p,ul{
  font-family:monospace;

/*  */
}
Link{
  font-family: 'Monoton', cursive;
}
a,button{
  font-family:monospace;
}
.mir{
  font-family: 'Josefin Sans', sans-serif;

}
.data-text1{
  font-family: 'Press Start 2P', cursive;
  /* font-family: 'Press Start 2P', cursive; */

}
::-webkit-scrollbar{
width: 0.6rem;
}
::-webkit-scrollbar-track{
background: var(--third-color);
border-radius: 30px;
}
::-webkit-scrollbar-thumb{
background-color: var(--secondary-color);
border-radius: 30px;
border: 2px dashed wheat;

}
::-webkit-scrollbar-thumb:hover{
background-color: rgb(0, 0, 0);
}

