


.home{
	overflow: hidden;
	width: 100%;
	padding-top: 6%;
}

.banner{
	min-height: 70vh;
	background: var(--primary-color);
    width: 100%;   
        
}

.triangle-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--white-color);
}

.section-triangle {
    width: 100%;
	border-left: 50vw solid var(--secondary-color);
	border-right: 50vw solid var(--secondary-color);
    border-top: 200px solid var(--primary-color);
}
.triangle-container2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--secondary-color);
}
.section-triangle2{
	width: 100%;
	border-top: 200px solid var(--secondary-color);
	border-right:200vh solid var(--dark-color);
	
}


.section-triangle3 {
    width: 100%;
	border-left: 35vh solid var(--primary-color);
	border-right: 35vh solid var(--primary-color);
    border-top: 300px solid var(--secondary-color);
	display: grid;
	place-items: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 50px;
	padding-bottom: 8rem;
}


.welcome{
	text-align: center;
	padding-top: 1rem;
}
.welcome-slider{
	text-align: center;

}

.welcome h1{
	font-size: 5vh;
    color: #000000;
	padding: 20px;
	width: 100%;

	z-index: 0;
}

  .changing {
	display: grid;
	z-index: 1;
	position: absolute;
	overflow: hidden;
	width: 100%;
	opacity:0;
	font-size: 2.5vh;
	color: var(--secondary-color);

}

   .change{
	  position: relative;
	  display: inline-block;
	  width: 600px;
  }



  .changing:nth-child(1) {
	animation: NextWord 10s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
  }

  .changing:nth-child(2) {
	animation: NextWord 10s cubic-bezier(0.57, 1.52, 0.9, 1.08) 6s infinite;
  }

  .changing:nth-child(3) {
	animation: NextWord 10s cubic-bezier(0.57, 1.52, 0.9, 1.08) 9s infinite;
  }

  @keyframes NextWord {
	0% {
		opacity: 0.3;
		height: 0.0;
	  }
	  10% {
		opacity: 1;
		height:1.2em;
	  }
	  20% {
		opacity: 1;
		height:1.2em;
	  }
	  28% {
		opacity: 0;
		height:2em;
	  }

  }

  .hero-box{
	   width: 70%;
       height: 250px;
	   background-color: var(--secondary-color);
	   grid-gap: 100px;
	   border-radius: 8px;
	   display: grid;
	   grid-template-columns: repeat(3,1fr);
	  margin: auto;
	  border-bottom: 10px solid var(--dark-color);
	  border-left: 5px  var(--dark-color) outset;
	  box-shadow: -20px 50px 20px rgba(0, 0, 0, 0.733);
	  transform: skewX(10deg);
	  margin-top: 6rem;
  }
.img-div{
	max-width: 250px;
	max-height: 350px;
}
.images{
	width: 100%;
	border-radius: 8px;
	height: 100%;
	transform: skewY(0deg);
	transition: 1s;

}
 .images:hover{
	transform: skewX(0deg);
	box-shadow: -5px 5px 5px #b9b5b5;

} 
.hero-text{
	width: 450px;
	place-items: center;
	display: flex;
}
.front{
	margin-bottom:1rem ;
	color: var(--white-color);

	font-size: 2.5vh;
}
.name{
	margin-bottom:1rem ;
	color:var(--white-color);
	font-size: 3vh;

}
.icon-box{
	display: flex;
	gap: 20px;

}
.icon-item{
	color: var(--dark-color);

	width: 100%;
	height: 40px;
}
.icon-item:hover{
	color: var(--white-color);

}
.container-play{
	display: grid;
	justify-content: flex-end;
	margin-top: 50px;
	margin-left: 30px;

}
.play{
	display: grid;
	transform: translateX(-30%) rotate(10deg);
 }
 .container-play  .titles {
	
	text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a  6px 6px;
  }

  .play span:nth-child(1){
	  color: rgb(255, 153, 0);
  }
  .play span:nth-child(2){
	color:rgb(255, 94, 0);
}
.play span:nth-child(3){
	color:rgb(0, 255, 106);
}

.restart{
	margin: 20px;
	color: var(--white-color);
	text-transform: uppercase;
	cursor: pointer;
	transform: translateX(-10%)  rotate(10deg);

  }
  							   
.scrolldown{
	position: absolute;
	margin-top: 11rem;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translateY(-80px) translateX(-50%) rotate(45deg);
	
}
.scrolldown span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 5px solid var(--dark-color);
	border-right: 5px solid var(--third-color);
	animation: scroll 1.5s linear infinite;
	opacity: 0;

}
.scrolldown span:nth-child(1){
	transform: translate(-15px,-15px);
	animation-delay:-0.6s ;
}
.scrolldown span:nth-child(2){
	transform: translate(0,0);
	animation-delay:-0.3s ;

}
.scrolldown span:nth-child(3){
	transform: translate(15px,15px);
	animation-delay:0s ;

}

@keyframes scroll{
	0%{
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25%{
		top: 0;
		left: 0;
		opacity: 1;
	}
	100%{
		top: 5px;
		left: 5px;
		opacity: 0;
	}
} 


                                                           /* --------about------- */
   .about{
			width: 100%;
		   background-color: #354A54;
			height: auto;
								}
.ct-1{
	background-color: #354A54 !important;
	margin-bottom: 8vh;
}

.hi{
		font-size: 5vh;
		color: var(--third-color);
		font-weight: bolder;
		width: fit-content;
		transition: 2s;
		

	}
	.hi:hover{
        background-color: var(--secondary-color);
	}
	.tx{
		margin: 1rem;
		line-height: 30px;
		font-size: 2.5vh;
		color: #fff;
        text-align: start;
         text-indent: 40px;
		 margin-right: 5rem;
	}
	.resume-container{
      width: 100%;
	  display: grid;
	  grid-template-columns: repeat(1,1fr);
	}
	
.resume{
	padding: 0.1em 0.25em;
	width: 8em;
	height: 4em;
	background-color: #575757;
	border: 0.08em solid #fff;
	border-radius: 0.3em;
	font-size: 12px;
	cursor: pointer;
	float: right;
	margin-right: 3rem;
  }
  .resume-text{

	transition: 2s;

  }
 
  
 .resume-span {
	position: relative;
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	bottom: 0.4em;
	width: 5em;
	height: 2.2em;
	background-color: #b9b5b5;
	border-radius: 0.2em;
	line-height: 13px;
	font-size: 1.5em;
	color: #000000;
	border: 0.08em solid var(--secondary-color);
	box-shadow: 0 0.4em 0.1em 0.019em var(--secondary-color);

  }
  
 .resume-span:hover {
	transition: all 0.5s;
	transform: translate(0, 0.4em);
	box-shadow: 0 0 0 0 #fff;
  }
  
 .resume-span:not(hover) {
	transition: all 1s;
  }




      
                                                           /* --------skılll---- */
						  
.skills{
	height:auto;
	background-color: #000000;
	width: 100%;
	
}
.title-container2{
	font-size: 20vmin;
	height: 2em;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--dark-color);
	justify-content: center;
	border-bottom: 5px dashed rgb(255, 255, 255) ;

}
   .data-text1{
	color: #ffffff;
	/* font-family: Impact, "Anton", Haettenschweiler, "Arial Narrow Bold", sans-serif; */
	font-weight: 700;
	font-size: 10vh;
	font-style: italic;
	display: block;
	position: absolute;
	letter-spacing: -0.005em;
	text-shadow: -6px 3px 1px var(--primary-color);
   }
   .data-1{
	color: var(--secondary-color) !important;
   }
  
   .title-container2 span::before, .title-container2 span::after{
	content: attr(data-text1);
  display: block;
  position: relative;
  padding: 0 0.1em;
  z-index: 1;
   }
   .title-container2 span::before {
	position: absolute;
	z-index: 0;
  }

  .title-container2 span:first-child {
	transform: translate(-0.255em, -0.45em);
  }
  .title-container2 span:last-child {
	color: #070707;
	transform: translate(0.40em, 0.40em);
  }


 .skill-container{
	  width: 100%;
	  height: 80vh;
	  display: grid;
	  grid-template-columns: repeat(2,1fr);
      place-items: center;
	  align-items: center;
	  margin-top: 2rem;
	  column-gap: 2rem;
 }
 .design{
	 width: 70%;

	
 }
 .developer{
	width: 70%;
 }
 
.capabilities{
	background-size: cover ;
    transform: skew(5deg);
	background:var(--gradient2-color) ;
	box-shadow: -15px 15px 0px var(--secondary-color);
	transition: .8s;
	cursor: pointer;
	border-bottom: 10px solid var(--secondary-color);
	border-left: 5px var(--secondary-color) outset;
	border-radius: 50px;

  }



  
.capabilities:hover {
	transform: skew(0deg);
	box-shadow: none;
	
  }

  .capabilities p{
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.2vh;
	color: var(--white-color);
  }

  .capabilities h3{
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--third-color);
	border-bottom: 2.5px dashed var(--white-color);
  }
.capabilities li{
	color: #fff;
	font-weight: bold;
	font-size: 2vh;

}
.capabilities ul{
	list-style-type: none;
    margin-left: 0;
    margin-top: 0;
	display: grid;
	letter-spacing: 1px;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;	

}
.capabilities li::before {
	content: "•"; 
	color: var(--white-color);
	margin: 5px;
}

  .list-title{
	margin-top: 50px;
    margin-bottom: 8px;
	font-weight: 600;
	color: var(--third-color) !important;
} 



                                                /* --------bloggg-------- */
								 
.blog{
    background-color:var(--secondary-color);
	width: 100%;
	height: auto;

}


.card{
	width: 80%;
	height: auto;
	background: var(--gradient-color);
	border-radius: 1.5rem;
	padding: 1.5rem;
    z-index: 10;

  }

 
  
   .card-img-holder img{
	width: 100%;
	max-height: 9rem;
	border-radius: 1.5rem;
	object-fit: cover;
  } 
  
  .blog-title{
	color: var(--third-color);
	padding: 1rem 0;
	font-size: 2vh;

  }
  
  .description{
	padding: 1rem 0;
	color: var(--white-color);
	font-size: 1.5vh;

  }
  
  .blog-time{
	font-size: 1.3vh;
	color:var(--white-color);
  }
  
  .options{
	display: flex;
	justify-content:flex-start;
	gap: 20px;
	font-size: 1.8vh;

  }
  
  .options span{
	font-weight: 600;
	color: var(--third-color);

  }
 
  .btn{
	  font-size: 1.3vh;
	  color: var(--white-color);
	  text-transform: uppercase;
	  padding: 5px 10px;
	  border-radius: 10px;
	  border: 2px solid var(--white-color);
	  background: var(--dark-color);
	  box-shadow: 3px 3px var(--white-color);
	  cursor: pointer;

	}
	
	.btn:active {
	  box-shadow: none;
	  transform: translate(3px, 3px);
	}
  
                                       /* -------------media--------- */




@media only screen and (max-width:1280px ) and (min-width:768px)  and (orientation : landscape) {

	
	
	.welcome h1{
		font-size: 4vh;
	}
	
	  .changing {
		font-size: 1rem;
	
	}
	
	  
	  .hero-box{
		   grid-gap: 50px;
	  }
	.images{
		width: 200px;	
	}

	.hero-text{
		width: 300px;
	}
	.front{
		font-size: 1rem;
	}
	.name{
		font-size: 1.5rem;
	}
	.container-play  .titles {
		font-size: 13px;
	  }

	.icon-item{
		height: 30px;
	}

	
	.hi{
		font-size: 3vh;
		margin-top: 2rem;
	}

	
		.tx{
			line-height: 20px;
			font-size: 2vh;
			 text-indent: 20px;
		}
		.resume-container{
		  display: grid;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
		  place-items: center;
	
		}
	
	  .resume-text{
		margin-right: 2rem;
		width: 100%;
		display: grid;
		justify-content: center;
		align-items: center;
		text-align: center;
		place-items: center;
	
	  }
	  
.title-container2{
	font-size: 15vmin;
	height: 2em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
   /* .data-text1{
	color: #ffffff;
	font-family: Impact, "Anton", Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: 700;
	font-style: italic;
	display: block;
	position: absolute;
	letter-spacing: -0.005em;
   } */
 }
 
 @media (min-width: 481px) and (max-width: 767px) {
.welcome h1{
		font-size: 3vh;
	}
	
	  .changing {
		font-size: 2vh;
	}
	.change{
		width: 300px;
	}
	
	.restart{
          font-size: 5px;	
	  }
	.images{
			width: 100px;	
			height: 100px;
	}
	.hero-box{
		grid-gap: 50px;
	 }
	.hero-text{
		width: 100px;
	}
	.front{
		font-size: 1vh;
	}
	.name{
		font-size: 0.5rem;
	}
	.container-play  .titles {
		font-size: 4px;
		margin-top: 2px;
	  }
  .icon-box{
	gap: 1px;
  }
	.icon-item{
		height: 20px;
	}
	.scrolldown span{
		width: 40%;
		height: 40%;
	
	}


	.tx{
		margin: 2rem 6rem 3rem 6rem;
		line-height: 20px;
		font-size: 2vh;
         text-indent: 20px;
	}
	.resume-container{
	  grid-template-columns: repeat(1,1fr);
	  display: grid;
	  justify-content: center;
	  align-items: center;
	  place-items: center;

	}

  .resume-text{
	width: 80vh;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	place-items: center;
	margin-top: 4rem;

  }
  .skill-container{
	width: 100%;
	height: 150vh;
	grid-template-columns: repeat(1,1fr);
}
  .title-container2{
	font-size: 10vmin;
	height: 3em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
  .blob1{
	transition: 4s;
	width: 100%;
	max-height: 200px;
}

.section-triangle3 {
    width: 100%;

	display: grid;
	place-items: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 50px;
}


	
 }
 @media (min-width: 320px) and (max-width: 480px) {
	.home {
		padding-top: 28%;
	}
	.banner{
		min-height: 55vh;
			
	}
	.welcome h1{
		font-size: 1rem;
	}
	
	
	  .changing {
		margin-top: -1rem;
		font-size: 1rem;
	}
	.change{
		width: 300px;
	}
	
	.restart{
          font-size: 1.1vh;	
		  margin-left: 50px;
		  line-height: 2em;
		  margin-top: 25px;
	  }
	  .hero-box{
		width: 90%;
		height: 112px;
		   grid-gap: 0px;
		   border-radius: 5%;
	  }
	.images{
		width: 80px;	
		height:100px;
		margin-right: 20px;
	}
    .images:hover{
	box-shadow: none;

	}
	.hero-text{
		width:100px;
	}
	.front{
		font-size: 1.8vh;
		line-height: 20px;
	}
	.name{
		margin-top: 5px;
		line-height: 20px;

		font-size: 2.2vh;
	}
	
	.container-play   {
	 margin-top: 0;
	margin-left: 25px;

	  }
	  .container-play  .titles {
		margin-top: 10px;
		display: grid;
		justify-content: flex-end;
		line-height: 0em;
		font-size: 0.7vh;
	  }
	
	  .play span:nth-child(1){
		font-size: 8px;
	}
	.play span:nth-child(2){
		font-size: 8px;

  }
  .play span:nth-child(3){
	font-size: 8px;

  }
	
  .icon-box{
column-gap:  1px;
margin-left: -0px;
  }
	.icon-item{
		width: 29px;
		height: 25px;
	}
	.scrolldown span{
		width: 50%;
		height: 50%;
		border-bottom: 3px solid var(--dark-color);
		border-right: 3px solid var(--third-color);
	}
	
	
	.hi{
		font-size: 3vh;
		margin-top: 2rem;
		margin-right: 1rem;
	}
	
	


	
		.tx{
			line-height: 20px;
			font-size: 2vh;
			 text-indent: 20px;
		}
		.resume-container{
		  grid-template-columns: repeat(1,1fr);
		  display: grid;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
		  place-items: center;
	
		}
	
	  .resume-text{
		width: 100%;
		display: grid;
		padding-left:2.5rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		place-items: center;
	
	  }
	  .resume{
		font-size: 8px;
	  }

	
	.skill-container{
		width: 100%;
		height: 150vh;
		grid-template-columns: repeat(1,1fr);
	}
	  .title-container2{
		font-size: 10vmin;
		padding-top: 3rem;
		padding-bottom: 1rem;

		height: 3em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 3px dashed rgb(255, 255, 255) ;
	}
	.data-text1{
		letter-spacing: 1px;
		font-size: 3.2vh;
		text-shadow: none;
	}
	
	.title-container2 span::before, .title-container2 span::after{
		content: attr(data-text1);
	  display: block;
	  position: relative;
	  padding: 0 0.1em;
	  z-index: 1;
	   }
	   .title-container2 span::before {
		position: absolute;
		z-index: 0;
	  }
	
	  .title-container2 span:first-child {
		transform: translate(-0.255em, -0.45em);
		
	  }
	  .title-container2 span:last-child {
		transform: translate(0.50em, 0.50em);
	  }
	
	
	
	.capabilities h3{
		padding: 2rem;
		font-size: 2vh;
	  }

	
   .capabilities{
	   transform: skew(0deg);
	  
	  
	 }
   
   
   
	 
   .capabilities:hover {
	   transform: skew(0deg);
	   box-shadow: none;
	   
	 }
	
	
	.blog-title{
		font-size: 1.5vh;
	  }
	 .card{
		width: 90%;
	 }
	
.section-triangle3 {
    width: 100%;
	border-left: 5vh solid var(--primary-color);
	border-right: 5vh solid var(--primary-color);
    border-top: 100px solid var(--secondary-color);
	display: grid;
	place-items: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 50px;
}
		
 }


