


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


header {
	display: flex;
  position: fixed;
  width: 100%;
	align-items: center;
	justify-content:space-between;
	height: 91px;
	padding: 0 2rem;
  z-index: 1000;
  background:black;
  transition: background-color 0.5s linear;
}
header.scrolled {
  background-color: var(--third-color);
}
header:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(20deg, #354A54 98%, #000000 100% );
  transform: translate3d(0px, 10px, 0) scale(0.95);
  filter: blur(14px);
  opacity: var(0.6);
  transition: opacity 0.3s;
  border-radius: inherit;
}


header::after { 
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      


.logo {
 font-size: 30px;
 margin: 2rem;
}


.logo_link{
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-text-stroke: 0px #000000;
 
  cursor: pointer;
 }
 header.scrolled .logo_link {
  color: var(--dark-color); 
}
 
.mir{
  color: #ffffff;
 transition: all 0.5s;
 -webkit-text-stroke: 0.5px var(--third-color);
}
header.scrolled .logo_link .mir {
  color: var(--secondary-color); 
 -webkit-text-stroke: 0.5px var(--secondary-color);

}


header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}
nav{
  display: flex;
  align-items: center;
}
.menu_list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  list-style: none;

  color: antiquewhite;
}

.nav  a{
  color: var(--white-color);
  text-decoration: none;
  position: relative;
  padding: 10px;
   font-size: 16px;
   font-weight: 700;
 } 
 header.scrolled .nav a{
  color: var(--dark-color);

 }

nav .active{
  color: var(--third-color);
 }
 header.scrolled nav .active{
  color: var(--white-color);

 }
 .nav  a:after {    
bottom: 0;
content: "";
left: 0;
position: absolute;
border-bottom: 3px solid #ffffffb0;
transition: width 0.5s ease 0.1s, left 0.5s ease 0s;
width: 0;
}

.nav  a:hover:after { 
width: 100%; 
left: 0; 
} 

.nav  a:hover .arrow{
  display: block;
  position: absolute;
  left: -0.5em;
}

 .arrow{
  display: none;
  color: #ffffffb0;
 }


@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
    color: #ffffff;
	}
.nav_list{
  font-size: 10pt;
}
	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
    background: repeating-linear-gradient(to left, #000000, #000000 2px, #000000 2px, #000000 4px);
    z-index: 1000;
		transition: 1s;
		transform: translateY(-100vh);
	}


	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav .menu_list {
		font-size: 1.5rem;
    
	}
  .logo {
    left: 10%;
    position: relative;
    font-size: 25px;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  header .nav-btn {
    right: 3rem;
    position: absolute;
	}
  nav .nav-close-btn{
    right: 3rem;
    position: absolute;
  }
  .logo {
    left: 10%;
    position: relative;
    font-size: 20px;
  }
  .menu_list {

    display: grid;
    gap: 1.5rem;
  }
  
  .nav_list{
     font-size: 9pt;
   } 
}




